* {
  box-sizing: border-box;
}

h1{
	text-align: center;
	color: #000000;
	font-family: 'Arial', cursive;
	font-size: 175%;
  	margin-top:50px;
  	margin-bottom:50px;
}

.row{
	overflow: auto;
  	padding-top: 40px;
  	position: relative;
  	background-color: grey;
  	border : 1px solid black;
  	font-family: 'Telex', sans-serif;
  	margin: 10px;

}

div{
	background-color: #00ffff;
	border: 10px;
	width : 100px;
	height : 30 px;
	text-align: center;
	font-size: 125%;
	position:absolute;
	top : 0;
	right : 0;
	border : 1px solid black;

}

.div1{
	background-color: #FFB6C1;
}

.div2{
	background-color: #DC143C;
	color: #FFFFFF;
}

.div3{
	background-color: #F0E68C;
}

@media (min-width: 992px){
	.col-lg-4{
	    float: left;
    	padding: 0 0.75rem;
    	margin-left: auto;
    	left: auto;
    	right: auto;		
		width:33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	
	.col-md-6, .col-md-12 {
		float: left;
	    padding: 0 0.75rem;
    	margin-left: auto;
    	left: auto;
    	right: auto;		
	}
	.col-md-6{
		width:50%;
	}
	.col-md-12{
		width:100%;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		float:left;
		width:100%;
   		padding: 0 0.75rem;
    	margin-left: auto;
    	left: auto;
    	right: auto;		
	}
}